<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<h1>Cambiar Password</h1>

<form th:action="@{/seguridad/cambiar-password}" method="post">
    <div class="mb-3">
        <label for="newPassword" class="form-label">Nueva Contraseña</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
</form>


</body>
</html>
